
@mixin flex($align: initial, $direction: initial, $justify: initial) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin btn($color, $bgcolor) {
  background: $bgcolor;
  background:
    linear-gradient(135deg, transparent 5px, $bgcolor 0) left,
    linear-gradient(-45deg, transparent 5px, $bgcolor 0) right;
  color: $color;
  padding: 3px;
  border: none;
  width: 100px;
  font-size: 12px;
  cursor: pointer;

  background-size: 50% 100%;
  background-repeat: no-repeat;
}
