<div class="wrapper">

  <app-random-character></app-random-character>

  <div class="wrapper-all-chars">
    <div>
      <div class="wrapper-characters"
        infiniteScroll
        [infiniteScrollDistance]="0"
        [infiniteScrollThrottle]="2000"
        (scrolled)="loadMore()"
      >

      @for (char of list; track char.id) {
        <app-character-card
          [char]="char"
          (onCardClick)="showCharacter($event)"
        >
        </app-character-card>
      }
      </div>
    </div>

    <div class="wrapper-aside">
      @if (character) {
        <app-character-info [character]="character">
        </app-character-info>
      } @else {
        <p class="visible-wrap">
          Please, select a character to see information
        </p>
      }

      <find-character-form></find-character-form>
    </div>
  </div>

  <img class="bg-decoration" src="assets/img/vision.png" alt="vision"/>

</div>
