@import 'mixines';
@import 'variables';

.wrapper {
  padding: $common-padding;
  margin-bottom: $common-margin-bottom;

  .wrapper-all-chars {
    display: grid;
    grid-template-areas:
    "characters aside";
    grid-template-columns: 2fr 1fr;
    gap: 20px;

    .wrapper-characters {
      margin-bottom: $common-margin-bottom;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      grid-auto-rows: minmax(100px, auto);
      grid-area: "characters";
    }

    button {
      @include btn(#fff, $darkred);
      width: 180px;
      display: block;
      padding: 5px 0;
      margin: 0 auto 20px;
    }

    .wrapper-aside {
      grid-area: "aside";
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .visible-wrap { // mixine
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px 1px gray;
        margin-bottom: 20px;
      }
    }
  }

  .bg-decoration { //
    width: 35%;
    position: absolute;
    // right: -1%;
    bottom: -70%;
    z-index: -1;
  }
}
