@import 'mixines';

header {
  @include flex(center, _, space-between);

  background-color: #fff;
  box-shadow: 0 5px 10px -5px gray;
  height: 65px;
  padding: 0 4%;
  color: rgb(36, 34, 34);
  margin-bottom: 20px;

  p {
    background-color: rgba(240, 9, 9);
    color: #fff;
    padding: 5px 8px;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
  }
}
