@import 'mixines';
@import 'variables';

header {
  @include flex(center, _, space-between);

  padding: $common-padding;
  margin-bottom: $common-margin-bottom;

  background-color: #fff;
  box-shadow: 0 5px 10px -5px gray;
  height: 65px;
  color: rgb(36, 34, 34);

  p {
    background-color: rgba(240, 9, 9);
    color: #fff;
    padding: 5px 8px;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
