@import 'variables';
@import 'mixines';

@mixin random-part($background-color, $color) {
  background-color: $background-color;
  color: $color;
  padding: 2% 2%;
}

.wrapper {
  padding: $common-padding;

  .character {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 40px;
    background-color: transparent;
    margin-bottom: 20px;

    .picture-of-character {

      img {
        width: 100%;
      }
    }

    .info-of-character {
      @include flex(_, column, _);

      h4 {
        margin-bottom: 20px;
        font-size: 20px;
      }

      p {
        width: 80%;
      }
    }
  }
}
