@import 'mixines';
@import 'variables';

.wrapper {
  margin: 0 6% 20px;

    .wrapper-comics {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      grid-auto-rows: minmax(100px, auto);
      margin-bottom: 20px;
    }

    button {
      @include btn(#fff, $darkred);
      width: 180px;
      display: block;
      padding: 5px 0;
      margin: 0 auto 20px;
    }
}
