@import '../../../../styles/button.scss';

$primary-darkcolor: #575454;

.wrapper {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px 1px gray;

  .character {
    display: flex;
    margin-bottom: 10px;

    .pictureOfCharacter {
      width: 50%;
      padding-right: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .infoOfCharacter {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        text-align: center;
      }

      .btns-char {
        display: flex;
        flex-direction: column;

        button {
          @include btn(#fff, $primary-darkcolor);

          &:first-child {
            margin-bottom: 10px;
            @include btn(#fff, darkred);
          }
        }
      }
    }

  }

  p {
    text-indent: 10px;
    margin-bottom: 10px;
  }

  li {
    list-style: none;
  }
}
