<div class="wrapper">
  <div class="character">
    <div class="picture-of-character">
      <img src="{{character?.thumbnailUrl}}" alt="picture of character">
    </div>
    <div class="info-of-character">
      <h4>{{character?.name}}</h4>

      <div class="btns-char">
        <button><a target="blank" href={{character?.homepageUrl}}>HOMEPAGE</a></button>
        <button><a target="blank" href={{character?.wikiUrl}}>WIKI</a></button>
      </div>
    </div>
  </div>

  <p>{{character?.description}}</p>

  <ul>
    <h5>Comics:</h5>
    <li *ngFor="let comic of character?.comicsItems">{{comic?.name}}</li>
  </ul>
</div>
