<div class="wrapper">
  <div class="character">
    <div class="pictureOfCharacter">
      <img src="{{url}}" alt="pictureOfCharacter">
    </div>
    <div class="infoOfCharacter">
      <h4>{{character?.name}}</h4>

      <div class="btns-char">
        <button>HOMEPAGE</button>
        <button>WIKI</button>
      </div>
    </div>
  </div>

  <p>{{character?.description}}</p>

  <ul> <span>COMICS:</span>
    <li *ngFor="let comic of character?.comics?.items">{{comic?.name}}</li>
  </ul>
</div>
