<div class="wrapper">

  <div class="character">
    <div class="picture-of-character">
      <img src="{{char?.thumbnailUrl}}" alt="picture of character">
    </div>
    <div class="info-of-character">
      <h4>{{char?.name}}</h4>
      <p>{{char?.description}}</p>

      <div class="btns-char">
        <button class="red"><a target="blank" href={{char?.homepageUrl}}>HOMEPAGE</a></button>
        <button (click)="redirectToWiki()">WIKI</button>
      </div>
    </div>
  </div>

  <div class="random">
    <div>
      <p>It's a random character for today!</p>
      <p>Do you want to get to know him better?</p>
    </div>

    <div class="random-choose-btn">
      <div>
        <p>Or choose another one?</p>
        <button (click)="updateChar()" class="red">TRY IT</button>
      </div>

      <img class="bg-decoration" src="assets/img/mjolnir.png" alt="mjolnir"/>
    </div>
  </div>

</div>
