@import 'variables';
@import 'mixines';

@mixin random-part($background-color, $color) {
  width: 50%;
  background-color: $background-color;
  color: $color;
  padding: 2% 3%;
}

.wrapper {
  display: flex;
  box-shadow: 0 0 10px 1px gray;
  background-color: #fff;
  margin-bottom: 20px;
  font-size: 12px;
  min-height: 150px;

  .character {
    @include random-part(#fff, #000);
    display: flex;

    .pictureOfCharacter {
      width: 40%;
      margin-right: 10px;

      img {
        width: 180px;
        height: 180px;
        object-fit: cover;
      }
    }

    .infoOfCharacter {
      @include flex(_, column,space-between);
      width: 100%;
    }
  }

  .random {
    @include random-part(rgb(48, 38, 38), #fff);
    @include flex(_, column,space-between);

    .bg-decoration {
      width: 100px;
      position: absolute;
      top: 125px;
      right: 37px;
    }
  }

  button {
    @include btn(#fff, $primary-dark);

    &:first-child {
      margin-right: 10px;
    }
  }

  button.red {
    @include btn(#fff, $darkred);
  }
}
