<div class="wrapper">

  <div class="character">
    <div class="pictureOfCharacter">
      <img src="someUrl" alt="pictureOfCharacter">
    </div>
    <div class="infoOfCharacter">
      <h4>Character's Name</h4>
      <p>Info ... </p>

      <div class="btns-char">
        <button class="red">HOMEPAGE</button>
        <button>WIKI</button>
      </div>
    </div>
  </div>

  <div class="random">
    <div>
      <p>It's a random character for today!</p>
      <p>Do you want to get to know him better?</p>
    </div>

    <div>
      <p>Or choose another one?</p>
      <button class="red">TRY IT</button>
      <img class="bg-decoration" src="../../../../../assets/img/mjolnir.png" alt="mjolnir"/>
    </div>
  </div>

</div>
