<div class="wrapper">

  <div class="character">
    <div class="pictureOfCharacter">
      <img src="{{thumbnail}}" alt="pictureOfCharacter">
    </div>
    <div class="infoOfCharacter">
      <h4>{{char?.name}}</h4>
      <p>{{char?.description}}</p>

      <div class="btns-char">
        <button class="red"><a target="blank" href={{homepage}}>HOMEPAGE</a></button>
        <button (click)="redirectToWiki()">WIKI</button>
      </div>
    </div>
  </div>

  <div class="random">
    <div>
      <p>It's a random character for today!</p>
      <p>Do you want to get to know him better?</p>
    </div>

    <div>
      <p>Or choose another one?</p>
      <button (click)="updateChar()" class="red">TRY IT</button>
      <img class="bg-decoration" src="assets/img/mjolnir.png" alt="mjolnir"/>
    </div>
  </div>

</div>
