@import 'mixines';
@import 'variables';

.wrapper {
  background-color: $primary-dark;
  cursor: pointer;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &:hover {
    box-shadow: 0 0 10px 5px gray;
    transform: translate(0px, -5px);
    transition: 0.3s transform;
  }

  .name-of-character {
    @include flex(_, center, center);
    height: 50px;
    color: #fff;
  }
}
