<div class="wrapper">
  <h5>Or find character by name:</h5>
  <form [formGroup]="charFinder">
    <input
      type="text"
      name="charName"
      id="charName"
      placeholder="Enter name"
      formControlName="charName"
      (input)="clearSearchMsg()"
    >
    <button (click)="onSearchCharacter()">FIND</button>
  </form>

  @switch (searchStatus) {
    @case (charSearchStatus.Found) {
      <div class="visit">
        <p>I've found {{character.name}} page. You can visit it... =></p>
        <button (click)="navigateToCharPage(character)">{{character.name}} page</button>
      </div>
    }
    @case (charSearchStatus.EmptyInput) { <p>This field is required</p> }
    @case (charSearchStatus.NotFound) { <p>The character wasn't found. Check the name and try again.</p> }
  }
</div>
